body {margin: 0;}
.header {
	width:100%;
	height:auto;
	background-color:#808080;
	word-break: normal;
	margin: 0;
	float: left;
}
.banner {
	height:75%;
	width:100%;
	position:relative;
	margin:0 0;
	background-color:blue;
	background-attachment:fixed;
	background-size:cover;
}
.banner img{
	max-width:100%;
	margin-top:0%;
}
/*Barra Top*/
#barra{
	width:100%;
	display:table;
	background:#808080;
	margin-top:0px;
}
#barra img{
	width:20%;
	height:auto;
	float:left;
	padding-left:01%;
	background:#808080;
	margin-top:01%;
}
/*Redes Sociais Barra*/
#redes{
	max-width:100%;
	float:right;
	margin-right:0px;
	height:50px;
    width:15%;
	margin-top:0%;
}

/*Botoes barra*/
#menu{
	background:#808080;
	padding-top:25px;
	padding-bottom:05px;
	padding-left:0px;
	width:50%;
	float:right;
	
}	
#menu a {
	text-decoration:none;
	color:white;
	font-size:20px;
	text-align: left;
	padding:10px;
	font-family:light;
	}
	

	
#menu a:hover{
	background:#B71C1C;
}
	
#menu ul{
	margin:0px auto;
	display:table;
	float:center;
	left:15%;
	width:800px;
	}
	
#menu ul li {
	display:inline;
	list-style:none;
	
}


/*Whats*/
.pulse-button {
	font-family:light;
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 63px;
    z-index: 1020;
    height: 63px;
    border: none;
    box-shadow: 0 0 0 0 #46d87c73;
    border-radius: 55%;
    background-color: #d6444500;
    cursor: pointer;
    -webkit-animation: pulse 1.45s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.45s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.45s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.45s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button i:hover {
    transform: scale(1.15);
}

.pulse-button i {
    font-size: 50px;
    line-height: 44px;
    color: #4ee2b5;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 3px 4px #287b4700;
    transition: .59s;
    transform: scale(1);
}

.pulse-button::before {
    content: attr(data-tool);
    position: absolute;
    left: 150%;
    bottom: 25%;
    padding: 8px 12px;
    background: #e8eaefe0;
    color: #727c92fa;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    border-radius: 5px;
    transition: all .2s ease;
    transform: translate3d(-40%, 10px, 0) scale(.9);
}

.pulse-button:hover::before {
    opacity: 1;
    transform: translate3d(0%, 10px, 0) scale(1)
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 32px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 32px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 32px rgba(232, 76, 61, 0);}}

/*Conteúdo*/
.btn{
		border-style:solid;
		border-color:black;
		border-radius:5px;
		border-width:1px;
		color:black;
		background-color:white;
		font-size:30px;
		width:50%;
		height:15%;
		
}
.conteudo p{
	font-size:20px;	
}
/*Footer*/

.footer{
	width:100%;
	height:45%;
	text-align: center;
	background-color:#808080;
	position:relative;
	margin-top:03%;
	margin-bottom:0%;
}

.footer p{
		font-family: light;
		font-size:15px;
		color:white;
		margin-top:0px;
		margin-bottom:0px;
}

.footer h2{
		font-family: light;
		color:white;
}

/*Exclusivo page seguros*/
#botao{
	margin-left:30%;
}